<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align:center">
    {{> header}}
    <p>
        <a href="/cards">Cards</a>
        <br>
        <br>
        <a href="/nasa">NASA Images</a>
    </p>
</body>

    <footer style="position:fixed; width:100%; bottom:0">{{> footer}}<footer>

</html>